{% extends 'base.html' %}

{% block app_content %}
<style>
    .wrap {
        max-width: 500px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .mdl-card {
        width: calc(100% - 16px);
        margin-left: auto;
        margin-right: auto;
        min-height: 0;
    }

    .flex--col {
        flex-direction: column;
    }

    .flex-items--start {
        align-items: flex-start;
    }

    .flex-self--start {
        align-self: flex-start;
    }
</style>
<div class="wrap">
    <div class="mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title flex--col flex-items--start mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text flex-self--start">Build a Character</h2>
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="mdl-card__supporting-text">
                <div style="height: 300px" class="builder-form">
                    <div class="form_part">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.heroname(class_="mdl-textfield__input") }}
                            {{ form.heroname.label(class_="mdl-textfield__label") }}
                            {% for error in form.heroname.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.heroclass(class_="mdl-textfield__input") }}
                            {{ form.heroclass.label(class_="mdl-textfield__label") }}
                            {% for error in form.heroclass.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.herorace(class_="mdl-textfield__input") }}
                            {{ form.herorace.label(class_="mdl-textfield__label") }}
                            {% for error in form.herorace.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.heroalignment(class_="mdl-textfield__input") }}
                            {{ form.heroalignment.label(class_="mdl-textfield__label") }}
                            {% for error in form.heroalignment.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div style="display: none" class="form_part">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.heroeyes(class_="mdl-textfield__input") }}
                            {{ form.heroeyes.label(class_="mdl-textfield__label") }}
                            {% for error in form.heroeyes.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.herohair(class_="mdl-textfield__input") }}
                            {{ form.herohair.label(class_="mdl-textfield__label") }}
                            {% for error in form.herohair.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.heroclothing(class_="mdl-textfield__input") }}
                            {{ form.heroclothing.label(class_="mdl-textfield__label") }}
                            {% for error in form.heroclothing.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.herobody(class_="mdl-textfield__input") }}
                            {{ form.herobody.label(class_="mdl-textfield__label") }}
                            {% for error in form.herobody.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.heroskin(class_="mdl-textfield__input") }}
                            {{ form.heroskin.label(class_="mdl-textfield__label") }}
                            {% for error in form.heroskin.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.herosymbol(class_="mdl-textfield__input") }}
                            {{ form.herosymbol.label(class_="mdl-textfield__label") }}
                            {% for error in form.herosymbol.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    
                    


                </div>
            </div>
            <div style="min-height: 64px" class="form-actions mdl-card__actions mdl-card--border">
                <div style="float:left;">
                    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="button"
                        id="backbtn">Back</button>
                </div>
                <div style="float:right;">
                    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="button"
                        id="nextbtn">Next</button>
                </div>
                <div style="float: right;">
                    {{ form.submit(class_="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block jquerystuff %}
<script>
    $(document).ready(function () {

        var builderform = $(".builder-form");
        var currentPart = 0;
        var formParts = $(".form_part").toArray();
        var next = $("#nextbtn");
        var nexthidden = false;
        var back = $("#backbtn");
        var backhidden = true;
        var submitbtn = $("#submit");
        var submitbtnhidden = true;

        // Hide and adjust height of stuff
        $(submitbtn).hide();
        $(back).hide();
        $(builderform).animate({ height: $(formParts[currentPart]).css("height") });

        next.click(function () {
            $(formParts[currentPart]).hide("slide", { direction: "left" }, 500);
            $(formParts[currentPart + 1]).show("slide", { direction: "right" }, 500);
            currentPart++;
            if (currentPart == formParts.length - 1) {
                // First hide the next button.
                $(next).hide("slide", { direction: "right" }, 500);
                nexthidden = true;
                // Then show the submit button
                $(submitbtn).delay(600).show("slide", { direction: "right" }, 500);
                submitbtnhidden = false;
            }
            if (backhidden) {
                $(back).delay(500).show("slide", { direction: "left" }, 500);
                backhidden = false;
            }

            // Adjust the height of the builder-form when loading a new form.
            $(builderform).animate({ height: $(formParts[currentPart]).css("height") });
        })

        back.click(function () {
            $(formParts[currentPart]).hide("slide", { direction: "right" }, 500);
            $(formParts[currentPart - 1]).show("slide", { direction: "left" }, 500);
            currentPart--;
            if (currentPart == 0) {
                $(back).hide("slide", { direction: "left" }, 500);
                backhidden = true;
            }
            let delayTimer = 0;
            if (!submitbtnhidden) {
                $(submitbtn).hide("slide", { direction: "right" }, 500);
                delayTimer = 500;
            }
            if (nexthidden) {
                $(next).delay(delayTimer).show("slide", { direction: "right" }, 500);
                nexthidden = false;
            }

            // Adjust the height of the builder-form when loading a new form.
            $(builderform).animate({ height: $(formParts[currentPart]).css("height") });
        })
    });

</script>
{% endblock %}