{% extends 'base.html' %}

{% block app_content %}
<style>
    .wrap {
        max-width: 800px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .mdl-card {
        width: calc(100% - 16px);
        margin-left: auto;
        margin-right: auto;
        min-height: 0;
    }

    .flex--col {
        flex-direction: column;
    }

    .flex-items--start {
        align-items: flex-start;
    }

    .flex-self--start {
        align-self: flex-start;
    }

    .looks_form_css:last-child{
    }
</style>
<div class="wrap">
    <div class="mdl-card mdl-shadow--6dp"  style="overflow: visible;">
        <div class="mdl-card__title flex--col flex-items--start mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text flex-self--start">Build a Character</h2>
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="mdl-card__supporting-text" style="overflow: visible; width: 100%">
                <div style="height: 300px" class="builder-form">
                    <div class="form_part" style="right: 0; width: -webkit-fill-available;">
                        <h4>Selecting a Class</h4>
                        There are a lot of important things to consider when selecting a class.
                            <ol>
                                <li>How you fight</li>
                                <li>Where you get your source of power</li>
                                <li>Do you like talking your way out of problems? Or bashing your hammer through them?</li>
                            </ol>
                            Click on a class below to find out more details.
                            <div class="mdl-card mdl-color--indigo-100 mdl-shadow--4dp" style="width: auto">
                                <div class="mdl-card__supporting-text scrollable mdl-color--primary flex--col flex-items--start" style="width: auto; text-align: center">
                                    <div id="bardbtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                        <img src="{{ url_for('static', filename='images/cleric_icon-48px.png') }}">
                                    </div>
                                    <div id="clericbtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                        <img src="{{ url_for('static', filename='images/cleric_icon-48px.png') }}">
                                    </div>
                                    <div id="druidbtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                        <img src="{{ url_for('static', filename='images/cleric_icon-48px.png') }}">
                                    </div>
                                    <div id="fighterbtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                        <img src="{{ url_for('static', filename='images/cleric_icon-48px.png') }}">
                                    </div>
                                    <div id="paladinbtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                        <img src="{{ url_for('static', filename='images/cleric_icon-48px.png') }}">
                                    </div>
                                    <div id="rangerbtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                        <img src="{{ url_for('static', filename='images/cleric_icon-48px.png') }}">
                                    </div>
                                    <div id="thiefbtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                        <img src="{{ url_for('static', filename='images/cleric_icon-48px.png') }}">
                                    </div>
                                    <div id="wizardbtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                        <img src="{{ url_for('static', filename='images/cleric_icon-48px.png') }}">
                                    </div>
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text class-title bard">The Bard</h2>
                                    <h2 class="mdl-card__title-text class-title cleric" style="display: none">The Cleric</h2>
                                    <h2 class="mdl-card__title-text class-title druid" style="display: none">The Druid</h2>
                                    <h2 class="mdl-card__title-text class-title fighter" style="display: none">The Fighter</h2>
                                    <h2 class="mdl-card__title-text class-title paladin" style="display: none">The Paladin</h2>
                                    <h2 class="mdl-card__title-text class-title ranger" style="display: none">The Ranger</h2>
                                    <h2 class="mdl-card__title-text class-title thief" style="display: none">The Thief</h2>
                                    <h2 class="mdl-card__title-text class-title wizard" style="display: none">The Wizard</h2>
                                </div>
                                <div class="mdl-card__supporting-text scrollable flex--col flex-items--start  mdl-card--border" style="width: auto">
                                    <p class="class-text">
                                        The bard sings such wonderful songs!
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div style="display: none" class="form_part" >
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.heroname(class_="mdl-textfield__input") }}
                            {{ form.heroname.label(class_="mdl-textfield__label") }}
                            {% for error in form.heroname.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.heroclass }}
                            <!-- 
                            {{ form.heroclass(class_="mdl-textfield__input") }}
                            {{ form.heroclass.label(class_="mdl-textfield__label") }}
                            {% for error in form.heroclass.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}-->
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.herorace(class_="mdl-textfield__input") }}
                            {{ form.herorace.label(class_="mdl-textfield__label") }}
                            {% for error in form.herorace.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.heroalignment(class_="mdl-textfield__input") }}
                            {{ form.heroalignment.label(class_="mdl-textfield__label") }}
                            {% for error in form.heroalignment.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div style="display: none" class="form_part looks_form_css">
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                            {{ looks_form.eyes(class_="mdl-selectfield__select", value='') }}
                            {{ looks_form.eyes.label(class_="mdl-selectfield__label") }}
                        </div>
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                            {{ looks_form.hair(class_="mdl-selectfield__select", value='') }}
                            {{ looks_form.hair.label(class_="mdl-selectfield__label") }}
                        </div>
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                            {{ looks_form.clothing(class_="mdl-selectfield__select", value='') }}
                            {{ looks_form.clothing.label(class_="mdl-selectfield__label") }}
                        </div>
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                            {{ looks_form.body(class_="mdl-selectfield__select", value='') }}
                            {{ looks_form.body.label(class_="mdl-selectfield__label") }}
                        </div>
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                            {{ looks_form.skin(class_="mdl-selectfield__select", value='') }}
                            {{ looks_form.skin.label(class_="mdl-selectfield__label") }}
                        </div>
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                            {{ looks_form.symbol(class_="mdl-selectfield__select", value='') }}
                            {{ looks_form.symbol.label(class_="mdl-selectfield__label") }}
                        </div>
                    </div>
                </div>
            </div>
            <div style="min-height: 64px" class="form-actions mdl-card__actions mdl-card--border">
                <div style="float:left;">
                    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="button"
                        id="backbtn">Back</button>
                </div>
                <div style="float:right;">
                    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="button"
                        id="nextbtn">Next</button>
                </div>
                <div style="float: right;">
                    {{ form.submit(class_="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block jquerystuff %}
<script>
    $(document).ready(function () {

        var builderform = $(".builder-form");
        var currentPart = 0;
        var formParts = $(".form_part").toArray();
        var next = $("#nextbtn");
        var nexthidden = false;
        var back = $("#backbtn");
        var backhidden = true;
        var submitbtn = $("#submit");
        var submitbtnhidden = true;
        var bardbtn = $("#bardbtn");
        var clericbtn = $("#clericbtn");
        var druidbtn = $("#druidbtn");
        var fighterbtn = $("#fighterbtn");
        var paladinbtn = $("#paladinbtn");
        var rangerbtn = $("#rangerbtn");
        var thiefbtn = $("#thiefbtn");
        var wizardbtn = $("#wizardbtn");
        var bardtitle = $(".bard");
        var clerictitle = $(".cleric");
        var druidtitle = $(".druid");
        var fightertitle = $(".fighter");
        var paladintitle = $(".paladin");
        var rangertitle = $(".ranger");
        var thieftitle = $(".thief");
        var wizardtitle = $(".wizard");
        var alltitles = $(".class-title");

        // Hide and adjust height of stuff
        $(submitbtn).hide();
        $(back).hide();
        $(builderform).animate({ height: $(formParts[currentPart]).css("height") });

        next.click(function () {
            $(formParts[currentPart]).hide("slide", { direction: "left" }, 500);
            $(formParts[currentPart + 1]).show("slide", { direction: "right" }, 500);
            currentPart++;
            if (currentPart == formParts.length - 1) {
                // First hide the next button.
                $(next).hide("slide", { direction: "right" }, 500);
                nexthidden = true;
                // Then show the submit button
                $(submitbtn).delay(600).show("slide", { direction: "right" }, 500);
                submitbtnhidden = false;
            }
            if (backhidden) {
                $(back).delay(500).show("slide", { direction: "left" }, 500);
                backhidden = false;
            }

            // Adjust the height of the builder-form when loading a new form.
            console.log("Height of part " + currentPart + " is " + $(formParts[currentPart]).css("height"));
            $(builderform).animate({ height: $(formParts[currentPart]).css("height")});
        })

        back.click(function () {
            $(formParts[currentPart]).hide("slide", { direction: "right" }, 500);
            $(formParts[currentPart - 1]).show("slide", { direction: "left" }, 500);
            currentPart--;
            if (currentPart == 0) {
                $(back).hide("slide", { direction: "left" }, 500);
                backhidden = true;
            }
            let delayTimer = 0;
            if (!submitbtnhidden) {
                $(submitbtn).hide("slide", { direction: "right" }, 500);
                delayTimer = 500;
            }
            if (nexthidden) {
                $(next).delay(delayTimer).show("slide", { direction: "right" }, 500);
                nexthidden = false;
            }

            // Adjust the height of the builder-form when loading a new form.
            $(builderform).animate({ height: $(formParts[currentPart]).css("height") });
        })

        // What follows is the logic for clicking on the different class buttons.
        bardbtn.click(function () {
            $(alltitles).hide();
            $(bardtitle).show();
        });
        clericbtn.click(function () {
            $(alltitles).hide();
            $(clerictitle).show();
        });
        druidbtn.click(function () {
            $(alltitles).hide();
            $(druidtitle).show();
        });
        fighterbtn.click(function () {
            $(alltitles).hide();
            $(fightertitle).show();
        });
        paladinbtn.click(function () {
            $(alltitles).hide();
            $(paladintitle).show();
        });
        rangerbtn.click(function () {
            $(alltitles).hide();
            $(rangertitle).show();
        });
        thiefbtn.click(function () {
            $(alltitles).hide();
            $(thieftitle).show();
        });
        wizardbtn.click(function () {
            $(alltitles).hide();
            $(wizardtitle).show();
        });
    });

</script>

<script>
    let class_select = document.getElementById('heroclass');
    let eyes_select = document.getElementById('eyes');
    let hair_select = document.getElementById('hair');
    let clothing_select = document.getElementById('clothing');
    let body_select = document.getElementById('body');
    let skin_select = document.getElementById('skin');
    let symbol_select = document.getElementById('symbol');

    class_select.onchange = function () {
        class_name = class_select.value;
        
        getData(class_name, "eyes");
        getData(class_name, "hair");
        getData(class_name, "clothing");
        getData(class_name, "body");
        getData(class_name, "skin");
        getData(class_name, "symbol");
    }

    function getData(class_name, look_property){
        fetch('/looks/' + class_name + '/' + look_property).then(function (response) {
            response.json().then(function (data) {
                let optionHTML = '<option value></option>';
                var look_data;
                var select_box;
                switch (look_property) {
                    case "eyes":
                        look_data = data.eyes;
                        select_box = eyes_select;
                        break;
                    case "hair":
                        look_data = data.hair;
                        select_box = hair_select;
                        break;
                    case "clothing":
                        look_data = data.clothing;
                        select_box = clothing_select;
                        break;
                    case "body":
                        look_data = data.body;
                        select_box = body_select;
                        break;
                    case "skin":
                        look_data = data.skin;
                        select_box = skin_select;
                        break;
                    case "symbol":
                        look_data = data.symbol;
                        select_box = symbol_select;
                        break;
                }
                console.log(look_property + " " + typeof look_data);
                console.log(look_data);
                
                if(look_data.length > 0){
                    for (var description of look_data) {
                        optionHTML += '<option value="' + description.id + '">' + description.look_details + '</option>';
                    }
                    select_box.innerHTML = optionHTML;
                    select_box.parentElement.style.display = "inline-block";
                }
                else {
                    select_box.innerHTML = optionHTML;
                    select_box.parentElement.style.display = "none";
                }

            })
        });
    }

</script>

{% endblock %}