{% extends 'base.html' %}

{% block app_content %}
    <style>
        .wrap{
        max-width: 500px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        }
        .mdl-card{
        width: calc( 100% - 16px );
        margin-left: auto;
        margin-right: auto;
        min-height: 0;
        }
        .mdl-card__subtitle-text{}
        .flex--col{
        flex-direction: column;
        }
        .flex-items--start{
        align-items: flex-start;
        }
        .flex-self--start{
        align-self: flex-start;
        }
    </style>
    <div class="wrap">
        <div class="mdl-card mdl-shadow--6dp">
            <div class="mdl-card__title flex--col flex-items--start mdl-color--primary mdl-color-text--white">
                <h2 class="mdl-card__title-text flex-self--start">Register</h2>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.username(class_="mdl-textfield__input") }}
                        {{ form.username.label(class_="mdl-textfield__label") }}
                        {% for error in form.username.errors %}
                            <span class="mdl-textfield__error">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.email(class_="mdl-textfield__input") }}
                        {{ form.email.label(class_="mdl-textfield__label") }}
                        {% for error in form.email.errors %}
                        <span class="mdl-textfield__error">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.password(class_="mdl-textfield__input") }}
                        {{ form.password.label(class_="mdl-textfield__label") }}
                        {% for error in form.password.errors %}
                        <span class="mdl-textfield__error">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.password2(class_="mdl-textfield__input") }}
                        {{ form.password2.label(class_="mdl-textfield__label") }}
                        {% for error in form.password2.errors %}
                        <span class="mdl-textfield__error">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <br>{{ form.submit(class_="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}